<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="ПСК Дом">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="og:description" content="Описание раздела относительно его тематического направления">
        <meta property="og:image" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="ПСК Дом">
        <meta property="twitter:description" content="Описание раздела относительно его тематического направления">
        <meta property="twitter:image:src" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="twitter:domain" content="psk-markup.pavelfolomeev.ru">
        <meta property="og:site_name" content="ПСК Дом">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="../../public/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->


        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>


    </head>

    <body class="page page--background-gray-light page--expired">
        <div class="page-top">
            <div class="header header--type-main">
                <div class="container">
                    <div class="header__inner">
                        <div class="header__left">
                            <div class="header__logo">
                                <a href="/" class="link link--wrapper">
                                    <img class="img-fluid" src="static//img/general/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner">


                <div class="expired">
                    <div class="container">
                        <div class="expired__inner">
                            <div class="expired__title">
                                Ссылка устарела
                            </div>
                            <div class="expired__content">
                                <div class="typography">
                                    <p>Мы рады, что вы добрались до сайта, но уже слишком поздно :(</p>
                                    <p>Свяжитесь со специалистами из отдела продаж, и они обязательно помогут подобрать квартиру вашей мечты
                                    </p>
                                </div>
                            </div>
                            <div class="expired__controls">
                                <div class="expired__control">
                                    <button class="
                            button
                            button--color-red
                            
                        ">
                                        <span class="button__text">
                            Позвонить
                        </span>
                                    </button>
                                </div>
                                <div class="expired__control">
                                    <button class="
                            button
                            button--color-white
                            
                        ">
                                        <span class="button__text">
                            Написать
                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- page-inner close -->
        </div>
        <!-- page-top close -->
        <div class="page-bottom">
            <footer class="footer">
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__copyright">
                            <div class="copyright">
                                ООО «ТСЗ» 2021 ©
                            </div>
                        </div>
                        <div class="footer__links">
                            <a href="#" class="link link--border link--border-solid link--color-gray-medium">
                                    Версия для печати
                                </a>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="../../public/js/separate-js/svg4everybody.min.js"></script>
            <script>
                svg4everybody();
            </script>

            <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
            <script src="../../public/js/main.min.js"></script>
        </div>
    </body>

</html>
