<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="ПСК Дом">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="og:description" content="Описание раздела относительно его тематического направления">
        <meta property="og:image" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="ПСК Дом">
        <meta property="twitter:description" content="Описание раздела относительно его тематического направления">
        <meta property="twitter:image:src" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="twitter:domain" content="psk-markup.pavelfolomeev.ru">
        <meta property="og:site_name" content="ПСК Дом">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="../../public/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->


        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>


    </head>

    <body class="page page--apartments">
        <div class="page-top">
            <div class="header header--type-main">
                <div class="container">
                    <div class="header__inner">
                        <div class="header__left">
                            <div class="header__logo">
                                <a href="/" class="link link--wrapper">
                                    <img class="img-fluid" src="static//img/general/logo.svg" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="header__right">
                            <div class="manager-card">
                                <div class="manager-card__inner">
                                    <div class="manager-card__content">
                                        <div class="manager-card__name">
                                            Алексей Смирнов
                                        </div>
                                        <div class="manager-card__post">
                                            Специалист отдела продаж
                                        </div>
                                    </div>
                                    <div class="manager-card__actions">
                                        <div class="button-badge">
                                            <div class="button-badge__badge">
                                                <img class="button-badge__badge-icon" src="static//img/content/manager-icon.jpg" />
                                            </div>
                                            <button class="
                                                            button
                                                            button--color-red
                                                            
                                                        ">
                                                <span class="button__text">
                                                            Позвонить
                                                        </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner">
                <div class="section">
                    <div class="container">
                        <div class="apartments">
{#                            tsikl tut, #}
                            <div class="apartment-card">
                                <div class="apartment-card__header">
                                    <div class="apartment-card__name">
                                        Евродвушка — 53,3 м²
                                    </div>
                                    <div class="apartment-card__location">
                                        Да.Квартал Республика, ГП-2
                                    </div>
                                </div>
                                <div class="apartment-card__body">
                                    <div class="row">
                                        <div class="col-12 col-xl-8">
                                            <div class="apartment-card__gallery owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-main" id="apartment-card-main-1" data-sync-carousel="#apartment-card-thumbs-1">
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4">
                                            <div class="apartment-card__content">
                                                <div class="row row--around">
                                                    <div class="col-12 d-none d-xl-block">
                                                        <div class="apartment-card__gallery-thumbnails owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-thumbs" id="apartment-card-thumbs-1" data-sync-carousel="#apartment-card-main-1">
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-7 col-xl-12">
                                                        <div class="apartment-card__description">
                                                            <div class="collapse-block collapse-block--type-apartment-card">
                                                                <div class="collapse-block__content">
                                                                    <div class="collapsing collapsing--type-apartment-card collapsing--color-white" id="apartment-card-description-1">
                                                                        <div class="typography">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                                            id est laborum.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="collapse-block__action">
                                                                    <a href="" class="link link--border link--border-solid link--color-navy" data-action="collapse" data-show-text="Показать описание" data-hide-text="Скрыть описание" data-target="#apartment-card-description-1">
                                                        Показать описание
                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-5 col-xl-12">
                                                        <div class="apartment-card__controls">
                                                            <div class="apartment-card__buttons order-1 order-xl-0">
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-red
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Позвонить
                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-white
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Написать
                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="apartment-card__favorite order-0 order-xl-1">
                                                                <div class="favorite">

                                                                    <svg class="favorite__icon" width="28px" height="23px">
                                                                        <use xlink:href="svg-symbols.svg#heart"></use>
                                                                    </svg>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
{#                            vot do suda -> tsikl#}
                            <div class="apartment-card">
                                <div class="apartment-card__header">
                                    <div class="apartment-card__name">
                                        Евродвушка — 53,3 м²
                                    </div>
                                    <div class="apartment-card__location">
                                        Да.Квартал Республика, ГП-2
                                    </div>
                                </div>
                                <div class="apartment-card__body">
                                    <div class="row">
                                        <div class="col-12 col-xl-8">
                                            <div class="apartment-card__gallery owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-main" id="apartment-card-main-2" data-sync-carousel="#apartment-card-thumbs-2">
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4">
                                            <div class="apartment-card__content">
                                                <div class="row row--around">
                                                    <div class="col-12 d-none d-xl-block">
                                                        <div class="apartment-card__gallery-thumbnails owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-thumbs" id="apartment-card-thumbs-2" data-sync-carousel="#apartment-card-main-2">
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-7 col-xl-12">
                                                        <div class="apartment-card__description">
                                                            <div class="collapse-block collapse-block--type-apartment-card">
                                                                <div class="collapse-block__content">
                                                                    <div class="collapsing collapsing--type-apartment-card collapsing--color-white" id="apartment-card-description-2">
                                                                        <div class="typography">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                                            id est laborum.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="collapse-block__action">
                                                                    <a href="" class="link link--border link--border-solid link--color-navy" data-action="collapse" data-show-text="Показать описание" data-hide-text="Скрыть описание" data-target="#apartment-card-description-2">
                                                        Показать описание
                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-5 col-xl-12">
                                                        <div class="apartment-card__controls">
                                                            <div class="apartment-card__buttons order-1 order-xl-0">
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-red
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Позвонить
                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-white
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Написать
                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="apartment-card__favorite order-0 order-xl-1">
                                                                <div class="favorite">

                                                                    <svg class="favorite__icon" width="28px" height="23px">
                                                                        <use xlink:href="svg-symbols.svg#heart"></use>
                                                                    </svg>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartment-card">
                                <div class="apartment-card__header">
                                    <div class="apartment-card__name">
                                        Евродвушка — 53,3 м²
                                    </div>
                                    <div class="apartment-card__location">
                                        Да.Квартал Республика, ГП-2
                                    </div>
                                </div>
                                <div class="apartment-card__body">
                                    <div class="row">
                                        <div class="col-12 col-xl-8">
                                            <div class="apartment-card__gallery owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-main" id="apartment-card-main-3" data-sync-carousel="#apartment-card-thumbs-3">
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                                <div class="apartment-card__picture apartment-card__picture--main">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-4">
                                            <div class="apartment-card__content">
                                                <div class="row row--around">
                                                    <div class="col-12 d-none d-xl-block">
                                                        <div class="apartment-card__gallery-thumbnails owl-carousel owl-carousel--theme-psk owl-carousel-init-apartment-card-thumbs" id="apartment-card-thumbs-3" data-sync-carousel="#apartment-card-main-3">
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                            </div>
                                                            <div class="apartment-card__picture apartment-card__picture--thumb">
                                                                <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-7 col-xl-12">
                                                        <div class="apartment-card__description">
                                                            <div class="collapse-block collapse-block--type-apartment-card">
                                                                <div class="collapse-block__content">
                                                                    <div class="collapsing collapsing--type-apartment-card collapsing--color-white" id="apartment-card-description-3">
                                                                        <div class="typography">
                                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                                                                            id est laborum.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="collapse-block__action">
                                                                    <a href="" class="link link--border link--border-solid link--color-navy" data-action="collapse" data-show-text="Показать описание" data-hide-text="Скрыть описание" data-target="#apartment-card-description-3">
                                                        Показать описание
                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-5 col-xl-12">
                                                        <div class="apartment-card__controls">
                                                            <div class="apartment-card__buttons order-1 order-xl-0">
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-red
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Позвонить
                                                        </span>
                                                                    </button>
                                                                </div>
                                                                <div class="apartment-card__button">
                                                                    <button class="
                                                            button
                                                            button--color-white
                                                            
                                                        ">
                                                                        <span class="button__text">
                                                            Написать
                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="apartment-card__favorite order-0 order-xl-1">
                                                                <div class="favorite">

                                                                    <svg class="favorite__icon" width="28px" height="23px">
                                                                        <use xlink:href="svg-symbols.svg#heart"></use>
                                                                    </svg>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- page-inner close -->
        </div>
        <!-- page-top close -->
        <div class="page-bottom">
            <footer class="footer">
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__copyright">
                            <div class="copyright">
                                ООО «ТСЗ» 2021 ©
                            </div>
                        </div>
                        <div class="footer__links">
                            <a href="#" class="link link--border link--border-solid link--color-gray-medium">
                                    Версия для печати
                                </a>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="../../public/js/separate-js/svg4everybody.min.js"></script>
            <script>
                svg4everybody();
            </script>

            <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
            <script src="../../public/js/main.min.js"></script>
        </div>
    </body>

</html>
