<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=1280, initial-scale=1">

        <meta property="og:title" content="ПСК Дом">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="og:description" content="Описание раздела относительно его тематического направления">
        <meta property="og:image" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="ПСК Дом">
        <meta property="twitter:description" content="Описание раздела относительно его тематического направления">
        <meta property="twitter:image:src" content="http://psk-markup.pavelfolomeev.ru/static/img/general/snippet.jpg?time=1">
        <meta property="twitter:url" content="http://psk-markup.pavelfolomeev.ru/main.html">
        <meta property="twitter:domain" content="psk-markup.pavelfolomeev.ru">
        <meta property="og:site_name" content="ПСК Дом">

        <meta content="telephone=no" name="format-detection">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="../../public/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->


        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>


    </head>

    <body class="page">
        <div class="page-top">
            <div class="header header--type-print">
                <div class="header__inner">
                    <div class="header__left">
                        <div class="header__left-inner">
                            <div class="header__left-top">
                                <div class="header__logo-wrapper">
                                    <div class="header__logo">
                                        <a href="/" class="link link--wrapper">
                                            <img class="img-fluid" src="static//img/general/logo.svg" alt="logo">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="header__left-bottom">
                                <div class="header__contact-wrapper">
                                    <div class="header__contact">
                                        <div class="contact-block">
                                            <div class="contact-block__title">
                                                Отдел продаж:
                                            </div>
                                            <div class="contact-block__phone">
                                                <a href="tel:+7 800 777-77-77" class="link link--color-black">
                                                            +7 800 777-77-77
                                                        </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__right-inner">
                            <div class="qr-saver">
                                <div class="qr-saver__code">
                                    <img class="img-fluid" src="static//img/content/qr-code.jpg" alt="qr code">
                                </div>
                                <div class="qr-saver__caption">
                                    Сохраните подборку себе в телефон
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-inner">

                <div class="section">
                    <div class="apartments-print">
                        <div class="apartments-print__items">
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="apartments-print__item">
                                <div class="apartment-card-print">
                                    <div class="apartment-card-print__header">
                                        <div class="apartment-card-print__name">
                                            Евродвушка — 53,3 м²
                                        </div>
                                        <div class="apartment-card-print__location">
                                            Да.Квартал Республика, ГП-2
                                        </div>
                                    </div>
                                    <div class="apartment-card-print__body">
                                        <div class="apartment-card-print__gallery">
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-1.png" />
                                                </div>
                                            </div>
                                            <div class="apartment-card-print__gallery-item">
                                                <div class="apartment-card-print__picture">
                                                    <img class="img-fluid" src="static//img/content/apartment-card-2.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- page-inner close -->
        </div>
        <!-- page-top close -->
        <div class="page-bottom">
            <script>
                window.print();
            </script>
            <script src="../../public/js/separate-js/svg4everybody.min.js"></script>
            <script>
                svg4everybody();
            </script>

            <!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
            <script src="../../public/js/main.min.js"></script>
        </div>
    </body>

</html>
