{% block footer %}
    <div class="page-bottom">
        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__copyright">
                        <div class="copyright">
                            ООО «ТСЗ» 2021 ©
                        </div>
                    </div>
                    <div class="footer__links">
                        <a href="#" class="link link--border link--border-solid link--color-gray-medium">
                            Версия для печати
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}